COMPOSE_PROJECT_NAME=eventin_orchestrator_production
BACKEND_ENV_FILE=./backend.production.env
FRONTEND_ENV_FILE=./frontend.production.env
FRONTEND_DOCKERFILE=Dockerfile
FRONTEND_BUILD_TARGET=production
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-production-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_API_URL=http://localhost:18082/api/v1

POSTGRES_PORT=6433
REDIS_PORT=6380
API_PORT=18082
FRONTEND_PORT=13000
ASYNQMON_PORT=18083
