COMPOSE_PROJECT_NAME=eventin_orchestrator_production
BACKEND_ENV_FILE=./backend.production.env
FRONTEND_ENV_FILE=./frontend.production.env
FRONTEND_DOCKERFILE=Dockerfile
FRONTEND_BUILD_TARGET=production

POSTGRES_PORT=6433
REDIS_PORT=6380
API_PORT=18082
FRONTEND_PORT=13000
ASYNQMON_PORT=18083
