COMPOSE_PROJECT_NAME=eventin_orchestrator_staging
BACKEND_ENV_FILE=./backend.env
FRONTEND_ENV_FILE=./frontend.env
FRONTEND_DOCKERFILE=Dockerfile
FRONTEND_BUILD_TARGET=staging
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-staging-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_API_URL=http://localhost:8082/api/v1

POSTGRES_PORT=5433
REDIS_PORT=6379
API_PORT=8082
FRONTEND_PORT=3000
ASYNQMON_PORT=8083
